<div fxFlex="100" fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="70" fxLayout="column" fxLayoutAlign=" top">
    <h1>Pronto se abre el C4P</h1>
    <button mat-raised-button color="accent" routerLink="/call-4-papers">Presentar una propuesta</button>
    <section>
      <div class="coming-soon">
        <div class="time-countdown">
          <ul>
            <li><span id="days">{{day}}</span>Dias</li>
            <li><span id="hours">{{hours}}</span>Horas</li>
            <li><span id="minutes">{{minutes}}</span>Minutos</li>
            <li><span id="seconds">{{seconds}}</span>Segundos</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
