<mat-toolbar fxLayout="row" color="primary">
  <span fxFlex>LicorcaConf</span>
  <button mat-button fxHide.xs routerLink="/">
    Home
  </button>
  <button mat-button fxHide.xs routerLink="/call-4-papers">
    C4P
  </button>
  <button mat-button fxHide.xs routerLink="/conduct-code">
    Código de conducta
  </button>
  <button mat-button fxHide.xs routerLink="/licorca-team">
    Licorca Team
  </button>

  <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #dropMenu="matMenu">
    <ng-container>
      <button mat-menu-item routerLink="/">
        Home
      </button>
      <button mat-menu-item routerLink="/call-4-papers">
        C4P
      </button>
      <button mat-menu-item routerLink="/conduct-code">
        Código de conducta
      </button>
      <button mat-menu-item routerLink="/licorca-team">
        Licorca Team
      </button>
    </ng-container>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
