.bg-img-home {
  height: 80vh;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 100)),
    url(../../../assets/bg/bg-home-title.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  section {
    width: 80%;
  }
}

.black-section {
  height: 40vh;
  background-color: black;
}

.yellow-section {
  height: 40vh;
  background-color: #feda5b;
}

.center {
  text-align: center;
}

.white-title {
  color: white;
}

.purple-title {
  color: #8757e5;
}

.licorca-title {
  font-size: 7vh;
}

.small-chupito {
  max-width: 2vh;
}

.sponsorship {
  height: 40vh;
  background: url(../../../assets/bg/wavy-background.svg), linear-gradient(140deg, #000000, #8757e5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  section {
    width: 30%;
  }
}

@media(max-width: 959px) {
  .sponsorship>section {
    width: 90%;
  }
}

.sponsors {
  background-color: #8757e5;
  padding-bottom: 3vh;

  h2 {
    padding: 3vh;
  }

  .sponsor-diamante>img {
    max-width: 11.5vh;
  }

  .sponsors-oro>img {
    max-width: 8.5vh;
  }

  .sponsors-plata>img {
    max-width: 6.2vh;
  }

  .sponsors-bronce>img {
    max-width: 4.5vh;
  }
}
