<form [formGroup]="paperForm">
  <div>
    <mat-card>
      <mat-card-title>Tu propuesta</mat-card-title>
      <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos reiciendis optio
        voluptatibus repudiandae molestias placeat quo corrupti nam est officiis dolore nihil, magnam, at fugiat quaerat
        aut. Quo, deleniti ipsam?</mat-card-subtitle>

      <mat-form-field appearance="fill">
        <mat-label>Elige tu formato</mat-label>
        <mat-select formControlName="typePaper">
          <mat-option value="typePaper.talk">Charla</mat-option>
          <mat-option value="typePaper.openSpace">Open space</mat-option>
        </mat-select>
        <mat-error *ngIf="paperForm.get('typePaper').errors?.['required']">Es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Título de tu propuesta</mat-label>
        <input matInput formControlName="titlePaper">
        <mat-error *ngIf="paperForm.get('titlePaper').errors?.['required']">Es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripción de tu propuesta</mat-label>
        <input matInput formControlName="descriptionPaper">
        <mat-error *ngIf="paperForm.get('descriptionPaper').errors?.['required']">Es obligatorio</mat-error>
        <mat-error *ngIf="paperForm.get('descriptionPaper').errors?.['minLength']">Min 350 caracteres</mat-error>
      </mat-form-field>

      <!-- <mat-checkbox class="col-12 col-md-4 mt-3" formControlName="firstTalk">Primera</mat-checkbox>-->

    </mat-card>


  </div>
</form>

<button mat-raised-button color="accent">Enviar propuesta</button>
