<mat-vertical-stepper [linear]="false" #stepper animationDuration="1800">

  <mat-step [stepControl]="paperForm">
    <form [formGroup]="paperForm">
      <ng-template matStepLabel>Paper</ng-template>
      <app-paper-form [paperForm]="paperForm" (isDoublePaper)="onChangeDoublePaper($event)"></app-paper-form>
      <div>
        <button mat-raised-button matStepperNext color="accent">Siguiente</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="speakerForm">
    <form [formGroup]="speakerForm">
      <ng-template matStepLabel>Speaker</ng-template>

      <app-speaker-form [speakerForm]="speakerForm" (speakerNeedsChange)="onChangeSpeakerNeeds($event)">
      </app-speaker-form>
      <div>
        <button mat-raised-button matStepperPrevious>Volver</button>
        <button mat-raised-button matStepperNext color="accent">Siguiente</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondSpeakerForm" *ngIf="paperHas2Speakers">
    <form [formGroup]="secondSpeakerForm">
      <ng-template matStepLabel>Second Speaker</ng-template>

      <app-speaker-form [speakerForm]="secondSpeakerForm" (speakerNeedsChange)="onChangeSpeakerNeeds($event)">
      </app-speaker-form>
      <div>
        <button mat-raised-button matStepperPrevious>Volver</button>
        <button mat-raised-button matStepperNext color="accent">Siguiente</button>
      </div>
    </form>
  </mat-step>


</mat-vertical-stepper>

<button mat-raised-button color="warn" (click)="sendPaper()"
  [disabled]="paperForm.invalid || speakerForm.invalid || (paperHas2Speakers && secondSpeakerForm.invalid)">Enviar
  propuesta</button>
