@use '@angular/material' as mat;
@include mat.core();

$licorcaConf-primary: mat.define-palette((50 : #f1ebfc,
      100 : #dbcdf7,
      200 : #c3abf2,
      300 : #ab89ed,
      400 : #9970e9,
      500 : #8757e5,
      600 : #7f4fe2,
      700 : #7446de,
      800 : #6a3cda,
      900 : #572cd3,
      A100 : #ffffff,
      A200 : #e8e0ff,
      A400 : #c1adff,
      A700 : #ad94ff,
      contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
      )));

$licorcaConf-accent: mat.define-palette((50 : #fffbeb,
      100 : #fff4ce,
      200 : #ffedad,
      300 : #fee58c,
      400 : #fee074,
      500 : #feda5b,
      600 : #fed653,
      700 : #fed049,
      800 : #fecb40,
      900 : #fdc22f,
      A100 : #ffffff,
      A200 : #ffffff,
      A400 : #fff3d9,
      A700 : #ffecbf,
      contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
      )));

$licorcaConf-warn: mat.define-palette((50 : #ffede5,
      100 : #fed1be,
      200 : #feb393,
      300 : #fe9467,
      400 : #fd7d47,
      500 : #fd6626,
      600 : #fd5e22,
      700 : #fc531c,
      800 : #fc4917,
      900 : #fc380d,
      A100 : #ffffff,
      A200 : #fff5f3,
      A400 : #ffc9c0,
      A700 : #ffb3a7,
      contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
      )));




$licorcaConf-theme: mat.define-light-theme((color: (primary: $licorcaConf-primary,
        accent: $licorcaConf-accent,
        warn: $licorcaConf-warn,
      )));

@include mat.all-component-themes($licorcaConf-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
